@page "/rOrdenes"
@page "/rOrdenes/{OrdenId:int}"

@using RegistroPedidos.Models;
@using RegistroPedidos.BLL;
@inject IToastService toast   

<EditForm Model="ordenes" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>
    <div class="card">

        <div class="card-header">
            <h2>Registro Pedidos</h2>
        </div>

        <div class="card-body">
            <form>
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label>Orden Id</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="ordenes.OrdenId" class="form-control" col-4 />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar"><i class="oi oi-magnifying-glass"/></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Fecha Pedido</label>
                    <InputDate @bind-Value="ordenes.Fecha" class="form-control" readonly="true"/>
                </div>

                <div class="form-group">
                    <label>Suplidor</label>
                    <InputSelect @bind-Value="ordenes.SuplidorId" class="form-control">
                        @foreach (var item in listasuplidores)
                        {
                            <option value="@item.SuplidorId">@item.Nombres</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => ordenes.SuplidorId)"/>
                </div>

                <div class="form-group">
                    <label>Monto</label>
                    <InputNumber @bind-Value="ordenes.Monto" class="form-control" readonly="true"/>
                </div>

            </form>
        </div>
    </div>

    <div class="card">

        <div class="card-header">
            <h4>Detalle</h4>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col form-group">
                    <label>Producto</label>
                    <InputSelect @bind-Value="productoSeleccionado" class="form-control" @onclick="GetCosto">
                        @foreach (var item in listaProductos)
                        {
		                        <option value="@item.ProductoId">@item.Descripcion</option>
                        }
                    </InputSelect>
                </div>

                <div class="col form-group">
                    <label>Costo</label>
                    <InputNumber @bind-Value="costoProducto" class="form-control" readonly/>
                </div>

                <div class="col form-group">
                    <label>Cantidad</label>
                    <div class="input-group">
                        <InputNumber @bind-Value="cantidad" class="form-control"/>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-success input-group-text" @onclick="Agregar"><i class="oi oi-plus mr-2"/></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive text-nowrap" style="position:relative; height:200px; overflow: auto; display:block;">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <td>Producto Id</td>
                            <td>Descripci&oacute;n</td>
                            <td>Costo</td>
                            <td>Cantidad</td>
                            <td>Total</td>
                        </tr>
                    </thead>

                    <tbody class="bg-white">
                        @foreach (var item in ordenes.Detalle)
                        {
                            <tr>
                                <td>@item.ProductoId</td>
                                <td>@GetDescripcion(item.ProductoId)</td>
                                <td>@item.Costo</td>
                                <td>@item.Cantidad</td>
                                <td>@(item.Costo * item.Cantidad)</td>
                                <td>
                                    <button type="button" class="btn btn-danger" @onclick="(() => Remover(item))"><i class="oi oi-trash accordion mr-2"/>Remover</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo"><i class="oi oi-file mr-2"/>Nuevo</button>
                <button type="submit" class="btn btn-lg btn-success"><i class="oi oi-account-login mr-2" style="transform: rotate(90deg)"/>Guardar</button>
                <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar"><i class="oi oi-trash mr-2"/>Eliminar</button>
            </div>
        </div>

    </div>
</EditForm>  

@code {
    [Parameter]
    public int OrdenId { get; set; }

    public Ordenes ordenes = new Ordenes();
    public OrdenesDetalle detalle = new OrdenesDetalle();
    public Productos productos = new Productos();
    public List<Productos> listaProductos = new List<Productos>();
    public List<Suplidores> listasuplidores = new List<Suplidores>();

    private int productoSeleccionado = 0;
    private int cantidad = 0;
    private double costoProducto = 0;

    protected override void OnInitialized()
    {
        Nuevo();

    }

    private void Limpiar()
    {
        ordenes = new Ordenes();
        productos = new Productos();
        detalle = new OrdenesDetalle();
        listasuplidores = SuplidoresBLL.GetList(r => true);
        listaProductos = ProductosBLL.GetList(r => true);

        cantidad = 0;
        productoSeleccionado = 0;
        costoProducto = 0;
    }

    public void GetMonto()
    {
        double totales = 0;

        foreach (var item in ordenes.Detalle)
        {
            totales += (item.Costo * item.Cantidad);
        }

        ordenes.Monto = totales;
    }

    public void GetCosto()
    {
        var costo = ProductosBLL.Buscar(productoSeleccionado);

        if (costo != null)
        {
            costoProducto = costo.Costo;
        }
    }

    public string GetDescripcion(int id)
    {
        Productos producto = new Productos();

        producto = ProductosBLL.Buscar(id);

        return producto.Descripcion;
    }

    public void Buscar()
    {
        if (ordenes.OrdenId > 0)
        {
            var encontrado = OrdenesBLL.Buscar(ordenes.OrdenId);

            if (encontrado != null)
                this.ordenes = encontrado;
            else
                toast.ShowInfo("No encontrado.");
        }
    }

    public void Agregar()
    {

        if (cantidad <= 0)
        {
            toast.ShowWarning("Cantidad debe ser mayor a Cero");
            return;
        }

        this.ordenes.Detalle.Add(new OrdenesDetalle
        {
            OrdenId = ordenes.OrdenId,
            ProductoId = productoSeleccionado,
            Cantidad = cantidad,
            Costo = costoProducto
        });
        cantidad = 0;
        costoProducto = 0;
        productoSeleccionado = 0;
        GetMonto();
    }

    public void Remover(OrdenesDetalle detalle)
    {
        try
        {
            ordenes.Detalle.Remove(detalle);
            GetMonto();
        }
        catch (Exception)
        {
            throw;
        }
    }

    public void Nuevo()
    {
        Limpiar();
    }

    public void Guardar()
    {
        bool guardar;

        guardar = OrdenesBLL.Guardar(ordenes);

        if (guardar)
        {
            Nuevo();
            toast.ShowSuccess("Guardado Correctamente.");
        }
        else
            toast.ShowError("No fue posible guardar");
    }

    public void Eliminar()
    {
        bool eliminar;

        eliminar = OrdenesBLL.Eliminar(ordenes.OrdenId);

        if (eliminar)
        {
            Nuevo();
            toast.ShowSuccess("Eliminado Correctamente.");
        }
        else
            toast.ShowError("No fue posible eliminar.");
    }
}